
body{
    margin: 0;
    padding: 0;
    font-size:25px;
    /* font-family: 'Bitter', serif;
    font-family: 'Open Sans', sans-serif; */
    text-align: justify; /*it will adjest the text */
    /* font-size: 15px; */
}
/* h1{
    font-size: 3em;
} */
/* h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } */  

#thar{
    width:100%;
    height:50vh;
}

#navbar{
 padding:4px;
 margin:0px;
 background-color: rgb(232,232,232);
 
 
}
#logo{
    height:30px;
    width:50px;
    /* margin:5px; */
    /* padding-left:10px; */
    
}
#thar{
    object-fit: cover;
}
#about{
    display:flex;
    max-width: 800px;
    margin: 0 auto;/*auto insence same left right or middle*/
}
a{
    text-decoration: none;
}
#description{
    width: 50%;
    padding-right: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    
}
#team{
    width:50%;
}
#team-image{
    border-radius: 5px;
}
#courses a{
    color:rgb(171, 17, 17);
}
#courses a:hover{
    color:blue;
}
h4{
    margin: 10 10px;
    text-align: center;
    color:darkblue;
    /* text-transform:uppercase; */
    font-size: 40px;
  
}
#jobs{
    width:800px;
    margin: 0 auto;
    padding: 0 32%;
}
#jobs-table{
    width: 85%;
    border:1px solid grey;
    border-collapse: collapse;
    /* margin:30px auto; */
    margin-right: 100%;
    

}

.job-header-row th{
    border:1px solid grey;
    font-size: 20px;
    background-color: #DBEAFE;
    text-align: center;
    
}
.job-data-row td{
    border: 1px solid grey;
    padding:10px;
    font-size:17px;  

}
#jobs-table tr:nth-child(even){
    background-color: antiquewhite;
}
h2{
    text-align: center;
    font-size:40px;
    padding-right: 60%;
    color:darkblue;
  
}
#form-apply{
    width:800px;
    /* margin:0 auto; */
    margin-left: 40%;
    padding: 0 10px
}
#application-form div{
    margin:10px;
    
}
#application-form{
    width:80%;
    margin:0 8px;
    
}
#application-form label{
    font-style: bolder;
    font-weight: 600px;


    
}
#application-form input,select{
    padding:5px;
    font-size:20px;
    margin-top:10px;
    border-radius: 6px;
    border:2px solid grey;
    width: 55%;
    
}
#cover textarea{
    width:60%;
    height: 30%;
    font-size:20px;

}
#check input{
    width:20px;
    height: 20px;
    
}
#sub input{
    width:20%;
    background-color:#3B82F6;
    color:white;
}



h3{
    margin-bottom:8px;
    margin-top:0;
    
}
.apply{
    float: right;
    margin-right: 100px;

}







#footer{
    background-color: lightgrey;
    padding: 8px;
    margin-top: 25px;
    text-align:center;
    
}
#footer-links{
    list-style: none;
    /* text-align:center; */
}
#footer-links li{
    display: inline;
    margin:0 15px;
    font-size: 1.1rem;
    
    
}
#cpyright{
    font-size: 1.0rem;
    color:rgb(94, 39, 39);
}
